<h1 style="text-align: center">Experiment 7</h1>



---

**Write a Python program to sort a list of tuples using Lambda.**

In [11]:
n = int(input("Enter number of Elements : "))
list_tuples = [tuple(int(i) for i in input("Enter elements in tuple (seperated by comma) : ").split(",")) for j in range(n)]

print("\nList of Tuples : ")
print(list_tuples)

sorted_tuples = list(map(lambda x:sorted(x), list_tuples))

print("\nSorted List of Tuples : ")
print(sorted_tuples)

Enter number of Elements : 2
Enter elements in tuple (seperated by comma) : 10,15,6
Enter elements in tuple (seperated by comma) : 12,50,-2

List of Tuples :
[(10, 15, 6), (12, 50, -2)]

Sorted List of Tuples :
[[6, 10, 15], [-2, 12, 50]]



---

**Write a Python program to square and cube every number in a given list of integers using Lambda with map.**

In [12]:
list_ip = [int(i) for i in input("Enter numbers in list (seperated by comma) : ").split(",")]

square = list(map(lambda x:x**2, list_ip))
cube = list(map(lambda x:x**3, list_ip))

print("Square of numbers : ", square)
print("Cube of numbers : ", cube)

Enter numbers in list (seperated by comma) : 2,3,10,15
Square of numbers :  [4, 9, 100, 225]
Cube of numbers :  [8, 27, 1000, 3375]



---

**Write a Python program to add two given lists and find the difference between them. Use the map() function with function.**

In [14]:
list1 = [int(i) for i in input("Enter 5 numbers in list 1 (seperated by comma) : ").split(",")]
list2 = [int(i) for i in input("Enter 5 numbers in list 2 (seperated by comma) : ").split(",")]

def add(x,y):
    return x+y

def diff(x,y):
    return x-y

print("\nSum of both lists : ", list(map(add, list1, list2)))
print("\nDifference of both lists : ", list(map(diff, list1, list2)))

Enter 5 numbers in list 1 (seperated by comma) : 1,2,3,4,5
Enter 5 numbers in list 2 (seperated by comma) : 2,4,6,8,10

Sum of both lists :  [3, 6, 9, 12, 15]

Difference of both lists :  [-1, -2, -3, -4, -5]



---

**Write a Python program that creates a list of dictionaries containing student information (name, age, grade) and uses the filter function to extract students with a grade greater than or equal to 95.**

In [20]:
student_list = []
student_data = {}
for i in range(int(input("Enter number of students : "))):
    print()
    name = input("Enter name of student : ")
    age = int(input("Enter age of student : "))
    grade = int(input("Enter grade of student : "))
    student_data = {"Name":name, "Age":age, "Grade":grade}
    student_list.append(student_data)

print("\nList of Dictionaries : ")
print(student_list)

print("\nStudents with grade greater than or equal to 95 : ")
print(list(filter(lambda x:x["Grade"]>=95, student_list)))

Enter number of students : 3

Enter name of student : ABC
Enter age of student : 19
Enter grade of student : 96

Enter name of student : DEF
Enter age of student : 20
Enter grade of student : 92

Enter name of student : GHI
Enter age of student : 19
Enter grade of student : 95

List of Dictionaries :
[{'Name': 'ABC', 'Age': 19, 'Grade': 96}, {'Name': 'DEF', 'Age': 20, 'Grade': 92}, {'Name': 'GHI', 'Age': 19, 'Grade': 95}]

Students with grade greater than or equal to 95 :
[{'Name': 'ABC', 'Age': 19, 'Grade': 96}, {'Name': 'GHI', 'Age': 19, 'Grade': 95}]



---

**WAP to Calculate the product of the numbers from 1 to 100 using reduce function.**

In [19]:
from functools import reduce

num_list = [i for i in range(1,101)]
product = reduce(lambda x,y:x*y, num_list)

print("Product of numbers from 1 to 100 : ", product)

Product of numbers from 1 to 100 :  93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000