<h1 style="text-align: center">Experiment 1</h1>

---

In [16]:
name = "John"
age = 30
print("Name:", name)
print("Age:", age)

Name: John
Age: 30

In [ ]:
x = ["chiku", "mango"]
print("mango" in x)

x = ["chiku", "mango"
print("grapes" not in x)

In [1]:
# taking two inputs at a time
x, y = input("Enter two values: ").split()
print("Number of boys: ", x)
print("Number of girls: ", y)

Enter two values: 40 50
Number of boys:  40
Number of girls:  50

In [ ]:
# taking two input at a time
x, y = [int(x) for x in input("Enter two values: ").split()]
print("First Number is: ", x)
print("Second Number is: ", y)

In [16]:
name = "John"
age = 30
print("Name:", name)
print("Age:", age)

Name: John
Age: 30



---


**WAP to find square root of a number**

In [6]:
import math

n=int(input("Enter a number : "))

print("Square root of the number is : ",math.sqrt(n))

Enter a number : 10000
Square root of the number is :  100.0

In [7]:
n=int(input("Enter a number : "))

print("Square root of the number is : ",n**(0.5))

Enter a number : 64
Square root of the number is :  8.0



---

**WAP to find  area of rectangle, circle, triangle**

In [9]:
# Area of rectangle
print("\n---- Area of Rectangle ----")
l=int(input("Enter the length : "))
b=int(input("Enter the breadth : "))
print("Area of rectangle = ",l*b)

# Area of circle
print("\n---- Area of Circle ----")
r=int(input("Enter the radius : "))
print("Area of circle = ",3.14*r*r)

# Area of triangle
print("\n---- Area of Triangle ----")
h=int(input("Enter the height : "))
a=int(input("Enter the base length : "))
print("Area of triangle = ",0.5*h*a)

---- Area of Rectangle ----
Enter the length : 50
Enter the breadth : 20
Area of rectangle =  1000

---- Area of Circle ----
Enter the radius : 100
Area of circle =  31400.0

---- Area of Triangle ----
Enter the height : 100
Enter the base length : 10
Area of triangle =  500.0



---

**Q. Write a python program display an employee information like Emp_ID, Name, mail_Id, Mobile No, height, weight and gender, salary**

In [14]:
emp_id=int(input('Enter your Employee ID : '))
name=str(input('Enter your Name : '))
mail_id=str(input('Enter your valid email id : '))
mobile_no=int(input('Enter your valid mobile number : '))
height=float(input('Enter your height (in cm) : '))
weight=float(input('Enter your weight (in kg) : '))
gender=str(input('Enter your gender : '))
salary=int(input('Enter your salary amount (in Rs.) : '))

print("\n---- Employee Details ----")
print("\nName - ",name,"\nID - ",emp_id,"\nMail id - ",mail_id,"\nMobile no. - ",mobile_no,"\nGender - ",gender,"\nHeight - ",height,"\nWeight - ",weight,"\nSalary - ",salary)

Enter your Employee ID : 60018230034
Enter your Name : Chaitanya
Enter your valid email id : sendittochaitanya@gmail.com
Enter your valid mobile number : 8356881366
Enter your height (in cm) : 180
Enter your weight (in kg) : 55
Enter your gender : Male
Enter your salary amount (in Rs.) : 6000000

---- Employee Details ----

Name -  Chaitanya
ID -  60018230034
Mail id -  sendittochaitanya@gmail.com
Mobile no. -  8356881366
Gender -  Male
Height -  180.0
Weight -  55.0
Salary -  6000000