<h1 style="text-align: center">Experiment 4</h1>



---

**WAP to print middle three characters of input string**

In [ ]:
import math

str=input("Enter a string : ")
mid=len(str)/2
print(str)
if (mid%3 != 0):
  mid=math.floor(len(str)/2)
  print(str[mid-1:mid+2])
else:
  print("\nString is of Even length....Three Middle characters not possible")

Enter a string : madam
madam
ada



---

**Given two strings, ‘Rama’ and ‘Sita’. Write a program to create a new string by appending ‘Sita’ in the middle of the string “Rama”.**

In [ ]:
str1='Rama'
str2='Sita'

mid=int(len(str1)/2)
str=str1[:mid]+str2+str1[mid:]
print(str)

RaSitama



---

**Arrange string characters such that lowercase letters should come first**

In [ ]:
str=input("Enter a String : ")
str_list=list(str)
l=int(len(str))

lower=''
upper=''

i=0
while (l!=0):
  if (str_list[i].islower()):
    lower+=str_list[i]
  else:
    upper+=str_list[i]
  i+=1
  l-=1

print("\nArranged String is :\n",lower+upper)

Enter a String : aBcDeFgHiJkLmNoPqRsTuVwXyZ

Arranged String is :
 acegikmoqsuwyBDFHJLNPRTVXZ



---

**WAP to count occurences of all characters within a string**

In [ ]:
str=input("Enter a string : ")

char_count = {}

for char in str:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1
print()
for key, value in char_count.items():
    print("{} appears {} times".format(key,value))

Enter a string : Mississippi

M appears 1 times
i appears 4 times
s appears 4 times
p appears 2 times



---

**Count all letters, digits, and special symbols from a given string**

In [ ]:
str=input("Enter a string : ")

upper=lower=num=spc=0

for char in str:
  if char.isupper():
    upper+=1
  elif char.islower():
    lower+=1
  elif char.isdigit():
    num+=1
  else:
    spc+=1

print("\nUppercase : {}\nLowercase : {}\nDigits : {}\nSpecial Character : {}\n".format(upper,lower,num,spc))

Enter a string : A_xyz123@email.com

Uppercase : 1
Lowercase : 11
Digits : 3
Special Character : 3



---

**Write a program to find the last position of a substring “Rama” in a given string**

In [31]:
string = input("Enter a string: ")
substring = "Rama"

last_position = -1
index = 0

while index < len(string):
    if string[index: index + len(substring)] == substring:
        last_position = index
    index += 1

if last_position != -1:
    print("Last position of substring is:", last_position)
else:
    print("Substring not found.")

Enter a string: Rama is Rama
Last position of substring is: 8



---

**Calculate the sum and average of the digits present in a string**

In [ ]:
n=int(input("Enter a number : "))

sum=count=0

while n!=0:
  sum+=n%10
  n=int(n/10)
  count+=1

print("\nSum : {}\nAverage : {}".format(sum,sum/count))

Enter a number : 164582

Sum : 26
Average : 4.333333333333333



---

**WAP to remove all characters from a string except integers**

In [ ]:
str=input("Enter a string : ")

numStr=''
for char in str:
  if char.isdigit():
    numStr+=char

print("\nString after removing all characters except integers : "+numStr)

Enter a string : Python3

String after removing all characters except integers : 3



---

**WAP to replace each special symbol with # in the given string**

In [ ]:
str=input("Enter a string : ")

for char in str:
  if not char.isalnum():
    str=str.replace(char,'#')

print("\nString after replacing each special symbol with # : "+str)

Enter a string : a@b$c%d^e12&34

String after replacing each special symbol with # : a#b#c#d#e12#34

## Sample Codes for Experiment 4

In [ ]:
String1 = 'Welcome to the Geeks World'
print("String with the use of Single Quotes: ")
print(String1)

# Creating a String
# with double Quotes
String1 = "I'm a Geek"
print("\nString with the use of Double Quotes: ")
print(String1)

# Creating a String
# with triple Quotes
String1 = '''I'm a Geek and I live in a world of "Geeks"'''
print("\nString with the use of Triple Quotes: ")
print(String1)

# Creating String with triple
# Quotes allows multiple lines
String1 = '''Geeks
            For
            Life'''
print("\nCreating a multiline String: ")
print(String1)

String with the use of Single Quotes:
Welcome to the Geeks World

String with the use of Double Quotes:
I'm a Geek

String with the use of Triple Quotes:
I'm a Geek and I live in a world of "Geeks"

Creating a multiline String:
Geeks
            For
            Life

In [ ]:
String1 = "GeeksForGeeks"
print("Initial String: ")
print(String1)

# Printing First character
print("\nFirst character of String is: ")
print(String1[0])

# Printing Last character
print("\nLast character of String is: ")
print(String1[-1])

Initial String:
GeeksForGeeks

First character of String is:
G

Last character of String is:
s

In [ ]:
# Join Two or More Strings

message1 = "Hello, "
message2 = "students"
 # using + operator
result = message1 + message2
print(result)

Hello, students

In [ ]:
# String slicing

String = 'ASTRING'
 # Using slice constructor
s1 = slice(3)
s2 = slice(1, 5, 2)
s3 = slice(-1, -12, -2)
print("String slicing")
print(String[s1])
print(String[s2])
print(String[s3])

String slicing
AST
SR
GITA

In [ ]:
String1 = "GeeksForGeeks"
print("Initial String: ")
print(String1)
 # Printing 3rd to 12th character
print("\nSlicing characters from 3-12: ")
print(String1[3:12])
 # Printing characters between
# 3rd and 2nd last character
print("\nSlicing characters between " +
      "3rd and 2nd last character: ")
print(String1[3:-2])

Initial String:
GeeksForGeeks

Slicing characters from 3-12:
ksForGeek

Slicing characters between 3rd and 2nd last character:
ksForGee

In [ ]:
#Reverse a string

gfg = "geeksforgeeks"
print(gfg[::-1])

skeegrofskeeg

In [ ]:
str1 = "Hello, world!"
str2 = "I love Python."
str3 = "Hello, world!"

# compare str1 and str2
print(str1 == str2)

# compare str1 and str3
print(str1 == str3)

False
True

In [ ]:
greet = 'Hello'

# count length of greet string
print(len(greet))

5

In [ ]:
#Format Method

age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

Methods

In [ ]:
a ="Hello, World!"
print(a.upper())

a = "Hello, World!"
print(a.lower())

a = "Hello, World!"
print(a.replace("H", "J"))

HELLO, WORLD!
hello, world!
Jello, World!

Escape Sequences

In [ ]:
# escape double quotes
example = "He said, \"What's there?\""

# escape single quotes
example = 'He said, "What\'s there?"'

print(example)

He said, "What's there?"